.user{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__form{
        width: 250px;
        padding: 50px 30px;
        border-radius: 5%;
        border:1px solid gray;
        .btn_mt{
            margin-top: 24px;
        }
    }
}