.product_card_content{
    grid-column-gap:30px;
    .link{
        font-size: 14px;
        color: gray !important;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        svg{
            color:#d20a0a
        }
    }
}
.test{
    color:red;
    font-size: 18px;
}