.productDetails{
    padding: 20px !important;

    height: auto;
    
    .MuiCardMedia-media {
        width: 50%;
        height: auto;
    }
    .priceBox{
        margin-right: 20px;
        background-color: yellowgreen;
        width: auto;
        max-width: 100px;
        border-radius: 5px;
        text-align: center;
        padding: 8px 10px;
        &_text{
            color: white;
            font-weight: bold;
            font-size: 16px;
        }
    }
}