.product_card_content {
  grid-column-gap: 30px;
}

.product_card_content .card {
  width: 300px !important;
}

.product_card_content .link {
  font-size: 14px;
  color: gray !important;
}

.product_card_content .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_card_content .footer svg {
  color: #d20a0a;
}

.test {
  color: red;
  font-size: 18px;
}

.productDetails {
  padding: 20px !important;
  width: 80%;
  height: auto;
  position: relative;
}

.productDetails .back {
  position: absolute;
  left: 20px;
}

.productDetails .MuiCardMedia-media {
  width: 50%;
  height: auto;
}

.productDetails .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0px 20px;
}

.productDetails .priceBox {
  background-color: yellowgreen;
  width: auto;
  border-radius: 5px;
  text-align: center;
  padding: 8px 10px;
}

.productDetails .priceBox_text {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.fileupload {
  margin-bottom: 16px;
  border: 2px dashed silver;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  padding: 16px;
}

.fileupload_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
}

.fileupload_text svg {
  margin-left: 8px;
}

.fileupload .imgupload {
  max-width: 200px;
  height: 140px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: whitesmoke;
  margin: 5px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.user__form {
  width: 250px;
  padding: 50px 30px;
  border-radius: 5%;
  border: 1px solid gray;
}

.user__form .btn_mt {
  margin-top: 24px;
}

/*-------*/
body[dir=rtl] {
  --dir:rtl;
  --dir-ltr: ltr;
  --left: left;
  --right: right;
  --transform-direction:1;
}

body[dir=ltr] {
  --dir: ltr;
  --dir-ltr: rtl;
  --left: right;
  --right: left;
  --transform-direction:-1;
}

/*-------------------------------- fonts --------------------------------------*/
/*-------------------------------- button --------------------------------------*/
.bluebtn {
  cursor: pointer;
  border: solid 1px #30a4e2 !important;
  background-color: #30A4E2 !important;
  color: #FAFAFA !important;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
  font-size: 14px !important;
  font-weight: bold !important;
  height: 36px !important;
  width: auto;
  white-space: nowrap;
  cursor: pointer !important;
}

.bluebtn:hover {
  background-color: #57C0ED !important;
}

.darkbtn {
  border: solid 1px #707070 !important;
  background-color: #475974 !important;
  color: #FAFAFA !important;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
  font-size: 14px !important;
  font-weight: bold !important;
  height: 36px !important;
  width: auto;
  white-space: nowrap;
  cursor: pointer !important;
}

.darkbtn:hover {
  background-color: #475974 !important;
}

.Profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 50px 0px;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
}

.Profile div {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

.Profile div:nth-of-type(2) {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.Profile .imagebox {
  position: relative;
}

.Profile_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px double orange;
}

.Profile_editIcon {
  position: absolute;
  top: 66%;
  left: 70%;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid orange;
}

.Profile_editIcon svg {
  color: orange;
}

.Profile_products {
  border-radius: 20px;
  padding: 35px 20px;
  -webkit-box-shadow: 0 0 10px silver;
          box-shadow: 0 0 10px silver;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Profile_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Profile_desc h3 {
  font-size: 18px;
  font-weight: bold;
}

.Profile_desc h4 {
  font-size: 16px;
}

.MuiDialog-container {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__header {
  height: 65px;
  padding: 10px 0 !important;
  background-color: #475974;
  text-align: var(--right);
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
}

.modal__header__close-btn {
  position: absolute !important;
  top: 14px;
  width: 32px;
  height: 32px;
  background-color: #f8f8f8 !important;
  color: #475974 !important;
}

body[dir=rtl] .modal__header__close-btn {
  left: 14px;
}

body[dir=ltr] .modal__header__close-btn {
  right: 14px;
}

body[dir=rtl] .modal__header {
  padding-right: 24px !important;
}

body[dir=ltr] .modal__header {
  padding-left: 24px !important;
}

body[dir=rtl] .modal__header {
  padding-left: 50px !important;
}

body[dir=ltr] .modal__header {
  padding-right: 50px !important;
}

.modal__header__title {
  color: #FAFAFA !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.modal__header__sub-title {
  color: #FAFAFA !important;
  font-size: 12px !important;
  font-weight: 300 !important;
}

@media (max-width: 600px) {
  .modal__header__title {
    font-size: 16px !important;
    font-weight: bold !important;
  }
  .modal__header__sub-title {
    font-size: 10px !important;
    font-weight: bold !important;
  }
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, *:link {
  color: inherit !important;
  -webkit-text-decoration: auto;
          text-decoration: auto;
}

/*------------------- Header --------------------*/
.Header {
  background-color: #414151;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_menu_list ul {
  margin: 0px;
  padding: 0px;
}

.header_menu_list ul li {
  display: inline-block;
  padding: 8px 10px;
}

.header_menu_list ul li .active {
  color: whitesmoke !important;
  -webkit-text-decoration: auto;
          text-decoration: auto;
}

.header_menu_list ul li:hover {
  color: whitesmoke;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.lang .active {
  color: whitesmoke !important;
}

/*----------------- BodyPages -------------------*/
.BodyPages {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0px 80px;
}

body[dir=rtl] .marginright {
  margin-left: 16px;
}

body[dir=ltr] .marginright {
  margin-right: 16px;
}

.desc_part {
  padding: 20px 0px;
  background-color: lightcyan;
  height: auto;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.Home_grid_part {
  -webkit-column-gap: 16px;
          column-gap: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: auto auto auto;
      grid-template: auto/auto auto auto;
  size: 30px;
}

.Home_grid_part_towrow {
  row-gap: 10px;
  background-color: lightskyblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Home_grid_part .first p {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

.Home_grid_part .tworow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Home_grid_part .tworow > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body[dir=rtl] .Home_grid_part .tworow > div svg {
  margin-left: 16px;
}

body[dir=ltr] .Home_grid_part .tworow > div svg {
  margin-right: 16px;
}

.Home_grid_part .tworow > div p {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

.Home_grid_part .tworow > div span {
  font-size: 14px;
}

/*------------------- Footer --------------------*/
.Footer {
  background-color: #cacaca;
  text-align: center;
}

.footer_container {
  padding: 24px 8px;
}
/*# sourceMappingURL=shop_style.css.map */